@import url('https://fonts.googleapis.com/css?family=Itim|Fredericka|Muli|Walter+Turncoat|Cherry+Cream+Soda|Roboto|Caveat+Brush|Courgette|Pattaya|Allerta+Stencil|Josefin+Sans|Luckiest+Guy|Noto+Serif|Hi+Melody|Concert+One|Hammersmith+One');

html {
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  overflow-y: scroll;
}

.pag1 {

}
.pag2 {

  border-bottom: 1px;
  border-color: white;
  border-style: solid;
  background-image: url('../images/intro2/fondo.png');
}

#gallery7 {
margin:0;
padding: 0;
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}



/* CSS */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  padding: 20px;
  text-align: left;
  background-color: rgba(175, 175, 175, 0.5);

font-family: 'Muli', sans-serif;
  text-transform: uppercase;
    font-weight: bold;
}

.vid {
}
.contenta {
    position:absolute;
    top:0; left:0;
    background: black;
    color:white;
}


/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}


/*.pag2 > div:first-of-type {

  text-align: justify;
}

.pag2 > div:first-of-type p {
    border:2em solid transparent;
}

.pag2 > div:first-of-type h1 {
    padding: 2em 2em 0 2em;
}
*/
.pag4 {
  position: fixed;
}

.pag2 {
background-color: black;
}

#content {
  margin-top: -3em;
}

#divHeader { /* CONTIENE EL LOGO Y MENU PRINCIPAL - main-header & main-menu */
  display:table; /* CREAMOS UNA TABLA */
  width: 100%;
  height: 6em;
  border-bottom: solid #000;
  border-width: 0 1px 1px 0;
  background-color: #fff;

}

#main-header {
   /* CAMBIAR PARA TABLETS Y MOVIL*/
  display:table-cell; /* TRANSFORMAR A CELDA */
  vertical-align: middle; /* CENTRAR EN VERTICALMENTE EN LA CELDA */
  text-align: center;
  width: 20%;
border-right: solid #bdb7aa;
border-width: 0 1px 1px 0;
}


#main-menu {
  display:table-cell; /* TRANSFORMAR A CELDA */
  height: 100%;
  vertical-align: middle; /* CENTRAR EN VERTICALMENTE EN LA CELDA */
}

#main-menu ul {
  display: inline-table; /* OCUPAR TODA LA TABLA */
  height: 100%;
  width: 100%;
  table-layout: fixed; /* MISMA ANCHURA EN LI */
  text-transform: uppercase;
  font-family: 'Muli', sans-serif;
  color: #000;
}

#main-menu ul > li {
  display:table-cell; /* TRANSFORMAR A CELDA */
  vertical-align: middle; /* CENTRAR EN VERTICALMENTE EN LA CELDA */
  text-align: center;
}

#main-menu ul > li:hover {
}

#main-menu li:hover:first-child {
  border-left: none;
}

#main-menu li:hover:hover {
	 background-color: #fff;
}

#main-menu a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

#logo img {
  padding-top: 2%;
  padding-bottom: 2%;

}

#intro2  {

   background-size: cover;
   display:table-cell; /* TRANSFORMAR A CELDA */
   vertical-align: middle; /* CENTRAR EN VERTICALMENTE EN LA CELDA */
  color: #fff;

}

.transparente {
   z-index: 1;
   position:relative;
   color: white;


}

.transparente h1 {
  font-size: 2em;
}


.contentb {
padding:2em;
display: table;
margin: 0 auto;
}

.contentb h1 {
padding-bottom: 1em;
}

#page1 {
  color:black;
  text-align: center;
font-family: 'OldNewspaperTypes';
  text-transform: uppercase;
}



#page1 section > article {

border-radius: 14px 14px 14px 14px;
-moz-border-radius: 14px 14px 14px 14px;
-webkit-border-radius: 14px 14px 14px 14px;

min-height: 3em;
height: auto;
width: 30%;
min-width: 100%;
}

#page1 section > article > img {

}

#page1 section > article > p {
  text-align: justify;
  padding: 1em;
  color: white;
}


#page1 section > article > h1 {
  text-align: left;
  padding: 0.4em;
  color: white;
}

#page1 section > article:nth-child(1) {

background-color: #79cf6c;
  /*background-image: url('../images/intro2/1.png');*/
}

#page1 section > article:nth-child(2) {

margin-left: 5em;
margin-top: 1em;
margin-bottom: 1em;
background-color: #475993;
}

#page1 section > article:nth-child(3) {
background-color: #76a9ea;
}

#menu_unitegallery {
  display:table; /* TRANSFORMAR A CELDA */

  vertical-align: middle; /* CENTRAR EN VERTICALMENTE EN LA CELDA */
background-color: #ececec;
border-top: solid #000;
border-bottom: solid #000;
border-width: 1px 0px 1px 0px;

}

#menu_unitegallery ul {
  display: inline-table; /* OCUPAR TODA LA TABLA */
  height: 100%;
  width: 100%;
  table-layout: fixed;  /*MISMA ANCHURA EN LI */
  text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    color: #000;
}

#menu_unitegallery ul > li {
  display:table-cell; /* TRANSFORMAR A CELDA */
  vertical-align: middle; /* CENTRAR EN VERTICALMENTE EN LA CELDA */
  text-align: center;
}

#menu_unitegallery a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/*#menu_unitegallery ul > li:hover {
background-color: rgba(0, 0, 0, 0.8);
  color:#fff;
}*/

#menu_unitegallery ul > li > p:hover {

}

#pag3 {
}

@font-face {
    font-family: 'LithosPro'; /*a name to be used later*/
    src: url('../font/LithosPro-Black.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'SegoePrint'; /*a name to be used later*/
    src: url('../font/Segoe-Print.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'EstrangeloEdessa'; /*a name to be used later*/
    src: url('../font/estre.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'OldNewspaperTypes'; /*a name to be used later*/
    src: url('../font/OldNewspaperTypes.ttf'); /*URL to font*/
}

#intro2 > div {
  text-align: center;
}

#intro2 h3 {
  font-family: 'SegoePrint';
  margin-bottom: 0.5em;
}

#intro2 span {
  font-family: 'LithosPro';
  font-weight: bold;
  text-transform: uppercase;
}

/* POSICIONAR LOS ICONOS DE REDES SOCIALES */
#network {
  text-align: center;
}

#network ul {
  margin-top:2em;
}

#network li {
display: inline-block;
}

#network li:not(:first-child) {
margin-left: 1em;
}

#network img {
height: 30px;
width: auto;
}


i {
  border: solid #fff;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 8px;
  margin-left: 1em;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#intro-text ul{
  text-align: justify;
  margin-top: 1em;
}


@media (max-width: 767px) { /* PARA MOVIL */

  #page1 section > article:nth-child(2) {
  margin-left: 0%;

  }

  #main-menu ul > li:hover {
  background-color: inherit;
  }

  .ocultar {
    display: none !important;

  }

  .transformar {
    display: table-cell !important;
    height: auto;

  }
  /*  OCULTAR TODOS LOS LI MENOS EL ULTIMO */
  #main-menu li:not(:last-child) {
    display: none;
  }

  #main-header{
   /* PARA HACER LA IMGEN MAS PEQUEÑA */
    width: 80%;

  }

  #logo img {
    max-height: 50px;
     max-width: 116px;
     padding-top: 0%;
     padding-bottom: 0%;
  }

  #divHeader { /* CONTIENE EL LOGO Y MENU PRINCIPAL - main-header & main-menu */
    height: 5em;
  }
#main-header {
  padding-top: 0;
  padding-bottom: 0;
}

#intro-text {
  font-size: 11pt;
}



}

@media (min-width: 768px) { /* PARA TABLETS Y ORDENADORES */

  #main-menu li:last-child {
   display: none;
  }

  #main-menu li:nth-last-child(-n+2) {
     border: none;
  }

 }

 @media (min-width: 480px) and (max-width: 767px) { /* PARA TABLETS Y ORDENADORES */
   #main-menu li:last-child{
     border: none;
   }

}
   @media (max-width: 480px) { /* PARA MOVILES PEQUEÑOS */
     #main-menu li:last-child{
       border: none;
     }
}

   @media (min-width: 768px) and (max-width: 1279px) { /* PARA TABLETS Y ORDENADORES */

     #main-menu ul > li { /* AJUSTAR MENU A NUEVA RESOLUCION */


     }

     #logo img {
       max-width: 90%;
       max-height: 90%;

     }

}

@media (min-width: 768px) {
  #download  {
  color:#fff;
  position: fixed;
  background-color: black;
  }


  #android {
    display:table-cell;
     background: url('../images/android.png') no-repeat  center center;
     background-size:contain;
background-clip: border-box;
     vertical-align: middle; /* CENTRAR EN VERTICALMENTE EN LA CELDA */
     width: 100px;
     height: 100px;

  }
  #ios {
    display:table-cell;
     background: url('../images/iphone.png') no-repeat  center center;
     background-size:contain;
background-clip: border-box;
     vertical-align: middle; /* CENTRAR EN VERTICALMENTE EN LA CELDA */
     width: 100px;
     height: 100px;
  }
}
  /*   @media (min-width: 1600px) { /* PARA PANTALLAS GRANDES *


       #phone1 {
       margin-left: 2em;
        color:#000;
         background: url('../images/downloadandroid.png') no-repeat;
         background-size:contain;
         height: 15%;
       }

       #phone2 {
         margin-left: 2em;
          color:#000;
           background: url('../images/downloadios.png') no-repeat;
           background-size:contain;
           height: 15%;
       }


}*/
